body{text-align: center;
    color: black;
    background-color: rgb(226, 43, 89);
    margin-left: auto;
    margin: auto;
}
 #h2{ color: brown}
 p{font-style: italic; 
    color: brown;
}
 h1{text-align: center;
    font-style: italic; 
    font-family: 'Courier New', Courier, monospace;
}
 #two{color: blueviolet
}