body{
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 255, 0.377);
}
 p{font-style: italic; 
}
 h1{text-align: center;
    font-style: italic; 
    font-family: 'Courier New', Courier,}
 download{
    text-align: center;
 }